*.exe
*.dll
.vs
bin/
obj/
*.user
ITTrend/obj/
ITTrend/bin/
.idea/
# Исключить все файлы с расширениями изображений
ITTrend/wwwroot/images/
Frontend/node_modules/
Frontend/dist/
Frontend/.angular/
*.jpg
*.jpeg
*.png

# Исключить все файлы видео
*.mp4
*.avi
*.mov

# Исключить все файлы аудио
*.mp3
*.wav